:root {
  --font-family: "Inter", sans-serif;
  --main-color: #fbfbfb;
  --green-color: #1b414b;
  --grey-color: #0e1823;
  --dark-color: #040306;
  --nav-color: rgba(27, 65, 75, 0.5);
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-color);
  background-color: var(--grey-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1390px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
}

/* ====== HEDER ====== */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding: 4px 0;

  border-radius: 8px;
  border: 1px solid #fbfbfb;
  background-color: var(--main-color);
}

.figure-header {
  justify-content: space-between;
}

.menu-logo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: var(--green-color);
  padding-left: 30px;
}

.menu-nav-list {
  display: flex;
  gap: 4px;
}

.menu-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91px;
  height: 40px;

  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;

  background: var(--nav-color);
  border-radius: 8px;
}

.menu-nav-link:hover,
.menu-nav-link:focus {
  background-color: var(--green-color);
}

.social {
  display: flex;
  gap: 13px;
}

/* ====== HERO SECTION ====== */
.hero {
  padding-top: 155px;
  padding-bottom: 180px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  width: 1001px;
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  text-align: center;
}

.hero-text {
  width: 597px;
  margin-bottom: 48px;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
}

.hero-link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 179px;
  height: 52px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;

  background-color: var(--green-color);
  border-radius: 15px;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--green-color);
  background-color: var(--main-color);
}

/* ====== FLEEET ======== */

.fleet-container {
  width: 1340px;
  padding: 0;

  overflow: hidden;

  border-radius: 26px;
  background-color: var(--main-color);
}

.fleet-wraper {
  display: flex;
  justify-content: space-between;

  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
}

.fleet-title {
  width: 537px;

  font-size: 48px;
  font-weight: 500;

  line-height: 1;

  color: var(--green-color);
}

.fleet-text-container {
  width: 409px;
  display: flex;
  flex-direction: column;
}

.fleet-text-first {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 23px;

  line-height: 1;

  color: var(--green-color);
}

.fleet-text-second {
  margin-bottom: 100px;
  font-weight: 400;
  font-size: 13px;

  line-height: 1.15;

  color: rgba(4, 3, 6, 0.4);
}

/*   --font-family: "Inter", sans-serif;
  --main-color: #fbfbfb;
  --green-color: #1b414b;
  --grey-color: #0e1823;
  --dark-color: #040306;
  --nav-color: rgba(27, 65, 75, 0.5); 
  
    font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-color);
  background-color: var(--grey-color);
  
  */

/* ====== CHOOSE YOUR DREAM SECTION ======== */

.yachts {
  padding: 150px 0;
}

.yachts-container {
  padding-left: 75px;
  padding-right: 75px;
}

.yacht-title {
  width: 714px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 500px;
  font-size: 40px;

  line-height: 1;
  text-align: center;

  color: #fbfbfb;
}

.yacht-list {
  display: flex;
  gap: 32px;
}

.yacht-list-item {
  flex-basis: calc((100% - 64px) / 3);
}
