.header-logo {
}
.menu-nav {
}
.menu-nav-link {
}
.social-item {
}
.social-link {
}
.hero {
}
.hero-title {
}
.hero-text {
}
.hero-link {
}
.yacht-fleet {
}
.yacht-fleet-title {
}
.yacht-fleet-text-up {
}
.yacht-fleet-text-down {
}
.yacht-fleet-img {
}
.yachts {
}
.yacht-title {
}
.yacht-list {
}
.yacht-item {
}
.yacht-img {
}
.yacht-text-value {
}
.yacht-text {
}
.yacht-link {
}
.benefits-list {
}
.benefits-title {
}
.benefits-text {
}
.benefits-img {
}
.rent {
}
.rent-title {
}
.rent-img {
}
.rent-form {
}
.reviews {
}
.reviews-title {
}
.reviews-text {
}
.reviews-list {
}
.reviews-item {
}
.reviews-img {
}
.reviwes-title {
}
.logo {
}
.menu {
}
.footer-title {
}
.footer-text {
}
.footer-link {
}
