:root {
  --font-family: "Inter", sans-serif;
  --main-color: #fbfbfb;
  --green-color: #1b414b;
  --grey-color: #0e1823;
  --dark-color: #040306;
  --nav-color: rgba(27, 65, 75, 0.5);
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-color);
  background-color: var(--grey-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1390px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
}

/* ====== HEDER ====== */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.figure-header {
  justify-content: space-between;
  background-color: var(--main-color);
}

.menu-logo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: var(--green-color);
}

.menu-nav-list {
  display: flex;
  gap: 4px;
}

.menu-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91px;
  height: 40px;

  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;

  background: var(--nav-color);
  border-radius: 8px;
}

.menu-nav-link:hover,
.menu-nav-link:focus {
  background-color: var(--green-color);
}

.social {
  display: flex;
  gap: 13px;
}

/* ====== HERO SECTION ====== */

.hero-title {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  text-align: center;
}

.hero-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
}

.hero-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1b414b;
  border-radius: 15px;
}
